@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  background-color:whitesmoke
}
.router-link-exact-active{
  font-weight: bold;
}

#app .btn-success{
  background-color: #4EB883;
  color: #fff;
}

.back-button {
  position: fixed;
  top: 20px; 
  left: 20px; 
  z-index: 9999; 
  background-color: #4EB883; 
  border: 1px solid #ccc; 
  color: #fff;
  border-radius: 5px; 
  padding: 5px 10px;
  cursor: pointer; 
}

.navbar .badge{
  background-color: #4EB883;
}


.card{
  border: none;
  border-radius: 20px; 
  height: 100%;
}

.card .card-img-top{
  object-fit: cover; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  height: 200px;
}

nav .breadcrumb{
  background-color: transparent;
  padding: 0;
}

.img-fluid{
  border-radius: 20px;
}

.about{
  max-width: 100%;
}
.login-form {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 13px;
}
.login-form input{
  font-size: 13px;
}

.login-form .text-muted {
  color: #6c757d;
  font-size: 13px;
}

.lainnya{
  font-size: 13px;
}

.topbar {
  font-size: 25px;
  border-bottom: 1px solid #6c757d;
  color: black;
  font-weight: bold;
}
.desc h1, .desc h2, .desc h3, .desc h4 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.desc {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.5;
}
.services{
  background-color: #fff;
  padding: 20px;
}

.services .icon{
  font-size: 55px;
  margin-bottom: 20px;
  color:#6c757d
}
.services h4{
  font-size: 20px;
  font-weight: bold;
  color: #4EB883;
}
.order{
  padding: 25px;
  margin: 10px;
  background-color: rgba(122, 209, 167, 0.7);
  font-size: 17px;
}
.order button{
  background-color: #4EB883;
}
.footer {
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.footer h4 {
  color: #4eb883;
}

.footer p {
  color: black;
}

.social-icons {
  margin-top: 20px;
}

.icon-link {
  display: inline-block;
  margin-right: 15px;
  color: #ccc;
  font-size: 24px;
  transition: color 0.3s ease;
}

.icon-link:hover {
  color: #4eb883;
}

.footer-bottom {
  padding: 10px 0;
  margin-top: 20px;
}

.copyright {
  color: #ccc;
  font-size: 14px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: hsla(160, 100%, 37%, 1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 0 2rem;
  }
}
