<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]
    Header always add Access-Control-Allow-Origin "*"
    Header always add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
    Header always add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
</IfModule>

<FilesMatch "^\.">
    Require all denied
    Satisfy All
</FilesMatch>